<?xml version="1.0"?>
<launch>
  <!-- argument -->

  <!-- params -->
  <rosparam file="$(find whi_3DObjectTracking)/config/config.yaml" command="load" subst_value="true"/>

  <!-- hardware interface -->
  <node name="whi_3DObjectTracking" pkg="whi_3DObjectTracking" type="whi_3DObjectTracking_node" output="screen"/>
</launch>
